<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Create Course</title>
</head>
<body>

<h1>Create Course</h1>

<form method="post" th:action="@{/author/courses/new}">

    <div>
        <input name="title" placeholder="Title" required>
    </div>

    <div>
        <input name="subtitle" placeholder="Subtitle">
    </div>

    <div>
        <textarea name="description" placeholder="Description"></textarea>
    </div>
    <div class="mb-3">
        <label for="category" class="form-label">카테고리</label>
        <select class="form-select" id="category" name="categoryId" required>
            <option value="">선택하세요</option>
            <option value="1">정보처리기사</option>
            <option value="2">SQLD</option>
        </select>
    </div>

    <hr>

    <h3>📚 이 강의를 볼 수 있는 책</h3>

    <div th:if="${#lists.isEmpty(books)}">
        <p>등록된 책이 없습니다.</p>
    </div>

    <div th:each="book : ${books}">
        <label>
            <input type="checkbox"
                   name="bookIds"
                   th:value="${book.id}">
            <span th:text="${book.name}"></span>
        </label>
    </div>

    <br>

    <button type="submit">Create</button>
</form>

</body>
</html>
